################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HDFCTest/.vs/HDFCTest/v15/Server/sqlite3
