@{
    ViewBag.Title = "Employee Application";
}

@using EmployeeApplication.ViewModels
@model List<EmployeeViewModel>

<div class="container" style="position:center;">
    <h3>Employee Details</h3>
</div>
<div class="container" style="position:center">
    <table class="table table-bordered table-sm">
        <tr class="bg-primary">
            <th>
                Employee ID
            </th>
            <th>
                Employee Name
            </th>
            <th>
                Age
            </th>
            <th>
                Marital Status
            </th>
        </tr>
        @foreach(EmployeeViewModel empVM in Model)
        {
            <tr>
                <td>
                    <a href="~/Home/EditEmployeeInfo">@empVM.EmpID</a>
                </td>
                <td>
                    <a href="~/Home/EditEmployeeInfo">
                        @empVM.EmpCompleteName
                    </a>
                </td>
                <td>@empVM.Age</td>
                <td>@empVM.MaritalStatus</td>
            </tr>
        }
    </table>
    
    <button class="btn btn-info" id="btnAddEmployee" onclick="location.href='../Home/AddEmployeeView'">Add Employee</button>
</div>