@{
    ViewBag.Title = "Employee Application";
}

@using EmployeeApplication.ViewModels
@model List<EmployeeViewModel>

<div class="container" style="position:center">
    <table class="table">
        @foreach(EmployeeViewModel empVM in Model)
        {
            <tr>
                <td>@empVM.EmpID</td>
                <td>@empVM.EmpCompleteName</td>
                <td>@empVM.Age</td>
                <td>@empVM.MaritalStatus</td>
            </tr>
        }
    </table>
</div>