@{
    ViewBag.Title = "Error";
}

@using EmployeeApplication.Models
@model CustomError
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>Error Message: @Model.CustomErrorMessage</h2>
    </hgroup>
</body>
</html>
